@model List<NoteDto>

@{
	ViewData["Title"] = "Note List";
}

<div>
	<h1>@ViewData["Title"]</h1>

	@if (Model != null && Model.Any())
	{
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Note Id</th>
					<th>Tag</th>
					<th>Title</th>
					<th>Content</th>
					<th>Created At</th>
					<th>Delete</th>
					<th>Update</th>
					
				</tr>
			</thead>
			<tbody>
				@foreach (var note in Model)
				{
					<tr>
						<td>@note.Id</td>
						<td>@note.Tag</td>
						<td>@note.Title</td>
						<td>@note.Content</td>
						<td>@note.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
						<td><a href="/Note/DeleteNote/@note.Id" class="btn btn-danger">Delete</a></td>
						<td><a href="/Note/UpdateNote/@note.Id" class="btn btn-warning">Update</a></td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No notes available.</p>
	}
</div>
